@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */
main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* BASE */
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}

/* UTILITIES */
@layer utilities {
  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .backdrop-light900_dark200 {
    @apply bg-white dark:bg-black backdrop-blur-md;
  }

  .shadow-light-300 {
    @apply shadow-md;
  }

  .h2-bold {
    @apply text-2xl font-bold;
  }
}